/* ThTheme Designed by Titan Media Marketing / Pimp My GHL */
/* Do not use without permission */
/* We will find you. */

/************* PMG Login Theme **************/

:root {
    /* this overrides the default colors in the base css */
    
    --main-body-bg: linear-gradient( 45deg, #292929 0%, #18191a 54%) !important;
    --main-body-image: url("https://storage.googleapis.com/msgsndr/H4xf1ZuFYRFCW5GHvtTm/media/66638e617416efb94e5faf5f.png") !important;
    --main-body-image-overlay: #ececec00(0 0 0 / 0) !important;
    --main-login-bg: #ededed00 !important;
    --login-logo: url("https://storage.googleapis.com/msgsndr/rgt01euiFLDwLNoBYbYm/media/666355821b8465f8dfa41800.png") !important;
    --login-heading-color: #fff !important;
    --login-input-color: #000 !important;
    --login-input-bg: #546AEA !important;
    --login-input-border: #bbbbbb !important;
    --login-error-color: #000 !important;
    --login-forgot-pass-color: #ffffff !important;
    --login-button-bg: #546AEA !important;
    --login-button-color: #white !important;
    --login-button-hover-bg: #000  !important;
    --login-button-hover-color: #ffffff !important;
    --login-foot-note-color: #fff !important;
    --login-foot-note-link-color: #fff !important;
    /* Extra Footer and/or Header instructions. Leave blank for none. */
    /*   --header-note:'Having trouble logging in or resetting your password? Contact example@email.com'; */
    --header-note-color: #000 !important;
    --footer-note: "" !important;
    --footer-note-color: #000 !important;
}

