/* ThTheme Designed by Titan Media Marketing / Pimp My GHL */
/* Do not use without permission */
/* We will find you. */

/************* PMG Login Theme **************/

:root {
    /* this overrides the default colors in the base css */
    
    --main-body-bg: linear-gradient( 45deg, #292929 0%, #18191a 54%) !important;
    --main-body-image: url("https://storage.googleapis.com/msgsndr/H4xf1ZuFYRFCW5GHvtTm/media/66638e617416efb94e5faf5f.png") !important;
    --main-body-image-overlay: #ececec00(0 0 0 / 0) !important;
    --main-login-bg: #ededed00 !important;
    --login-logo: url("https://storage.googleapis.com/msgsndr/rgt01euiFLDwLNoBYbYm/media/666355821b8465f8dfa41800.png") !important;
    --login-heading-color: #fff !important;
    --login-input-color: #000 !important;
    --login-input-bg: #546AEA !important;
    --login-input-border: #bbbbbb !important;
    --login-error-color: #000 !important;
    --login-forgot-pass-color: #ffffff !important;
    --login-button-bg: #546AEA !important;
    --login-button-color: #white !important;
    --login-button-hover-bg: #000  !important;
    --login-button-hover-color: #ffffff !important;
    --login-foot-note-color: #fff !important;
    --login-foot-note-link-color: #fff !important;
    /* Extra Footer and/or Header instructions. Leave blank for none. */
    /*   --header-note:'Having trouble logging in or resetting your password? Contact example@email.com'; */
    --header-note-color: #000 !important;
    --footer-note: "" !important;
    --footer-note-color: #000 !important;
}

.hl_login--body .card .card-body .forgot-password {
    color: #fff !important;
}

.hl_login--body .card .card-body {
    margin-top: 140px !important;
}

.hl_login--body .card .card-body .foot-note a {
    color: var(--login-foot-note-link-color) !important;
}

.hl_login--body .card .login-card-heading h2.heading2:before {
    width: 350px;
    height: 180px;
}

@media only screen and (max-width: 1024px) {
    .hl_login--body .card .login-card-heading h2.heading2:before {
        width: 285px;
        height: 132px;
    }

    .hl_login--body .card .card-body {
        margin-top: 102px !important;
    }
    .hl_login--body .heading2 {
        font-weight: 100;
        font-size: 19px !important;
    }
}

.hl_login--body .card .card-body input {
    background: #ffffff !important;
    border: 2px solid #d3d3d3 !important;
    color: #363636 !important;
    padding: 15px 20px !important;
    border-radius: 25px !important;
    font-size: 14px;
    line-height: 20px;
}


.hl_login--body .card .card-body .hl-btn {
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #262626 !important;
    border-radius: 50px !important;
}

.hl_login--body .card{
    background: #f7f7f7 !important;
}


/*.hl_login--body .container-fluid:after, .hl_login--body .container-fluid > div:not(.card):after{

    background-image: url(https://storage.googleapis.com/msgsndr/FLmYOOdVradGIf7xWTAy/media/6362b6565d6bbe73c6498426.png)  !important;

}*/



button:disabled {
    cursor: not-allowed;
    opacity: 1 !important
}

.hl_login--body .heading2 {
    font-weight: 600;
    font-size: 30px !important;
}

.hl_login--body .container-fluid > div:not(.card) .card .card-body input {
    color: #000 !important;
}

.hl_login--body .card button.hl-btn.justify-center.w-full.inline-flex.items-center.px-4.py-2.border.border-transparent.text-sm.font-medium.rounded.text-white.bg-curious-blue-500.hover\:bg-curious-blue-600.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-curious-blue-600 {
    background: var(--login-button-bg) !important;
    color: #FFFFFF !important;
}

.hl_login--body .card {
    background: #1e1f20 !important;
}

