@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body{
 font-family: 'League Spartan', sans-serif !important;
}
 /* this overrides the default colors in the base css */
:root {
    /* this overrides the default colors in the base css */
    
    --main-body-bg: #ffffff;
    --main-body-image: url("https://storage.googleapis.com/msgsndr/FQK1qJZEzoiNmUweP8No/media/62fedd10dad501aaa6e189c5.jpeg");
    --main-body-image-overlay: rgba(0, 0, 0, 0.098);
    --main-login-bg: #fff;
    --login-logo: url("https://storage.googleapis.com/msgsndr/rgt01euiFLDwLNoBYbYm/media/66634fcf33c6bf46e0d5027d.png");
    --login-heading-color: #282828;
    --login-input-color: #363636;
    --login-input-bg: transparent;
    --login-input-border: #cccccc;
    --login-error-color: #363636;
    --login-forgot-pass-color: #363636;
    --login-button-bg: #b8b8b8;
    --login-button-color: #ffffff;
    --login-button-hover-bg: #a3a3a3;
    --login-button-hover-color: #ffffff;
    --login-foot-note-color: #363636;
    --login-foot-note-link-color: #148bf1;
    /* Extra Footer and/or Header instructions. Leave blank for none. */
    --header-note: "";
    --header-note-color: #363636;
    --footer-note: "";
    --footer-note-color: #363636;
}
/* Header Note */
.hl_login--body .login-card-heading h2.heading2:after {
    content: var(--header-note);
    line-height: 1.5;
    font-size: 12px;
    display: block;
    margin-top: 20px;
    margin-bottom: -20px;
    color: var(--header-note-color);
}
/* Footer Note */
.hl_login--body p.foot-note:before {
    content: var(--footer-note);
    color: var(--footer-note-color);
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
}

/* Theme Style */

.hl_login {
    background: var(--main-body-bg) !important;
    margin-top: 0 !important;
    background-size: cover;
}
.hl_login--header {
    display: none;
}

.hl_login--body .card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    max-width: 40% !important;
    border: none !important;
    box-shadow: none !important;
    background: var(--main-login-bg) !important;
    border-radius: 0 !important;
}
.hl_login--body .card:before {
    content: "";
    position: absolute;
    left: -100px;
    top: 0;
    border-left: 100px solid transparent;
    border-top: 100px solid var(--main-login-bg);
}
.hl_login--body .card:after {
    content: "";
    position: absolute;
    left: -100px;
    bottom: 0;
    border-left: 100px solid transparent;
    border-bottom: 100px solid var(--main-login-bg);
}
.hl_login--body .card .card-body {
    display: block;
    margin-top: 150px !important;
    padding: 60px !important;
    box-sizing: border-box;
    width: 100% !important;
    max-width: 80% !important;
    text-align: left;
}

.hl_login--body .card .login-card-heading h2.heading2:before {
    content: "";
    background-image: var(--login-logo);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: block;
    margin: 0 auto 20px;
    width: 200px;
    height: 75px;
    left: 0;
    right: 0;
}

/* FORM */
.hl_login--body .heading2 {
    font-weight: 600;
    color: var(--login-heading-color);
    font-size: 23px !important;
}
.hl_login--body .card .card-body label,
.hl_login--body .card .card-body span.hl-text-input-label {
    display: none;
}
.hl_login--body .card .card-body input {
    background: var(--login-input-bg) !important;
    border: 1px solid var(--login-input-border) !important;
    color: var(--login-input-color) !important;
    padding: 15px 20px !important;
    border-radius: 3px !important;
    font-size: 14px;
    line-height: 20px;
}
.hl_login--body .card .card-body input::placeholder {
    color: var(--login-input-color) !important;
    opacity: 1;
}
.hl_login--body .card .card-body input:-ms-input-placeholder {
    color: var(--login-input-color) !important;
}
.hl_login--body .card .card-body input::-ms-input-placeholder {
    color: var(--login-input-color) !important;
}
.hl_login--body .card .card-body .error,
.hl_login--body .card .card-body .hl-input-error,
.hl_login--body .card .card-body i {
    color: var(--login-error-color) !important;
}
.hl_login--body .card .card-body .forgot-password {
    color: var(--login-forgot-pass-color);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.hl_login--body .card .card-body .hl-btn {
    padding: 15px 25px !important;
    background-color: var(--login-button-bg);
       color: var(--login-button-color);
    font-size: 16px;
    text-transform: uppercase;
}
.hl_login--body .card .card-body .hl-btn:hover {
    background-color: var(--login-button-hover-bg);
    color: var(--login-button-hover-color);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.25);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.hl_login--body .card .card-body .foot-note {
    font-size: 14px;
    color: var(--login-foot-note-color);
}
.hl_login--body .card .card-body .foot-note a {
    color: var(--login-foot-note-link-color);
}

.hl_login--body .container-fluid > div:not(.card) .card-body .flex label {
    display: block;
    color: var(--login-foot-note-color);
}
.hl_login--body .container-fluid > div:not(.card) .card-body .flex p.ml-2 {
    color: var(--login-foot-note-color);
}
.hl_login--body
    .container-fluid
    > div:not(.card)
    .card-body
    .form-group
    input
    + span {
    color: var(--login-foot-note-color);
}
.hl_login--body .container-fluid .card-body .form-group .g_id_signin iframe {
    margin: 5px auto 0px !important;
}

@media only screen and (max-width: 1400px) {
    .hl_login--body .card {
        max-width: 50% !important;
    }
    .hl_login--body .container-fluid::before {
        max-width: 50%;
    }
    .hl_login--body .container-fluid::after {
        max-width: 50%;
    }
    .hl_login--body .container-fluid:after,
    .hl_login--body .container-fluid > div:not(.card):after {
        width: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .hl_login--body .card {
        max-width: 100% !important;
    }
    .hl_login--body .container-fluid::before,
    .hl_login--body .container-fluid::after {
        display: none;
    }
    .hl_login--body .card .card-body {
        max-width: 80% !important;
    }
    .hl_login--body .card:before {
        left: 0px;
        border-right: 100px solid transparent;
        border-top: 100px solid var(--main-login-bg);
        border-left: 0px solid transparent;
    }
    .hl_login--body .card:after {
        left: initial;
        right: 0;
        bottom: 0;
        border-left: 100px solid transparent;
        border-bottom: 100px solid var(--main-login-bg);
    }
}

@media only screen and (max-width: 980px) {
    .hl_login--body .card {
        height: 100vh !important;
    }
    .hl_login--body .card .card-body {
        max-width: 100% !important;
        margin-top: 0 !important;
        padding: 100px 40px !important;
    }
    .hl_login--body .container-fluid:after,
    .hl_login--body .container-fluid > div:not(.card):after {
        display: none !important;
    }
    .hl_login--body .container-fluid:before,
    .hl_login--body .container-fluid > div:not(.card):before {
        width: 0px !important;
    }
}

@media only screen and (max-width: 767px) {
    #app {
        margin-top: 0 !important;
    }
    .hl_login--body .card .card-body {
        padding: 40px !important;
    }
}

@media only screen and (max-width: 480px) {
    .hl_login--body .card .login-card-heading h2.heading2::before {
        margin: 0px auto 30px;
    }
    .hl_login--body .login-card-heading {
        margin-bottom: 30px;
    }
    .hl_login--body .card .card-body {
        padding: 30px !important;
    }
}

/* Fix for 2FA 10/25/21 */
.hl_login--body .container-fluid,
.hl_login--body .container-fluid > div:not(.card) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 !important;
}
.hl_login--body .container-fluid:before,
.hl_login--body .container-fluid > div:not(.card):before {
    content: "";
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    max-width: 60%;
    background-image: var(--main-body-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hl_login--body .container-fluid:after,
.hl_login--body .container-fluid > div:not(.card):after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100vh;
    background-color: var(--main-body-image-overlay);
}
.hl_login--body .container-fluid > div:not(.card) {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
}
.hl_login--body
    .container-fluid
    > div:not(.card)
    .card
    .card-body
    input[type="radio"] {
    padding: revert !important;
    border-radius: 50% !important;
}
.hl_login--body .container-fluid > div:not(.card) .card .card-body input {
    padding: revert !important;
    background: var(--login-input-bg) !important;
    color: var(--login-input-color) !important;
}
.hl_login--body .container-fluid .card .card-body > div:last-child {
    color: var(--login-foot-note-link-color);
}
/* End Fix for 2FA */

/* Radio Checked Fix */

/*.login-card-heading+div{
    display:block;
    padding:10px;
    background:rgba(255,255,255,.2)
}*/
.login-card-heading + div > div {
    display: block;
}

.login-card-heading + div > div input[type="radio"] {
    display: none;
}

.login-card-heading + div > div input[type="radio"] + label:before {
    width: 24px;
    height: 24px;
    content: "";
    display: block;
    border: 2px solid var(--login-button-bg);
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0px -2px;
    border-radius: 50%;
    z-index: 2;
    margin-top: 10px;
    margin-left: -10px;
    position: absolute;

    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.login-card-heading + div > div input[type="radio"]:checked + label:before {
    background-color: var(--login-button-bg);
}

.login-card-heading + div > div input[type="radio"]:checked + label {
    font-size: 16px;
}

.login-card-heading + div p.ml-2 {
    display: block;
    text-indent: 20px;
}
.hl_login--body label {
    cursor: pointer;
    text-indent: 20px;
}
